<p>school-details works!</p>

{{ school$ | async | json }}

<mat-card class="example-card" *ngIf="school$ | async; let school">
  <mat-card-header>
    <mat-card-title>{{ school.schoolName | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ school.link | lowercase }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteSchool(school.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updateSchool(school)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
