<h3>List Of School</h3>
<table mat-table [dataSource]="school$" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="id" class="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">
      {{ element.id }}
      {{ setId(element.id) }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="schoolName">
    <th mat-header-cell *matHeaderCellDef>SchoolName</th>
    <td mat-cell *matCellDef="let element">{{ element.schoolName }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef>Link</th>
    <td mat-cell *matCellDef="let element">
      <a target="_blank" href="{{ element.link }}">{{ element.link }}</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="showSchoolDetails(row)"
    class="clickable"
  ></tr>
</table>

<br />
<div class="bouton">
  <button mat-raised-button color="primary" (click)="createSchool()">
    Create new school
  </button>
</div>

<br />
