table {
  width: 100%;
}

h3 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: x-large;
  text-decoration: underline;
  color: #3f51b5;
  text-transform: uppercase;
}

th {
  text-align: center !important;

  border-right: 1px solid black;
}

td {
  text-align: center;
  border-right: 1px solid black;
}

.id {
  padding-right: 20%;
}

.bouton {
  text-align: center;
}
